{
  "globals": {
    "jQuery": true,
    "$": true
  },
  "env": {
    "jquery": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "strict": 0,
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}